$-clr-white: hsl(0, 0%, 100%);
$-clr-light: hsl(231, 77%, 90%);
$-clr-dark: hsl(230, 35%, 7%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "300": $-clr-light,
    "900": $-clr-dark,
  ),
);

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-300: var(--neutral-300);
$color-neutral-900: var(--neutral-900);
