---
import Layout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import NumberedTitle from "../components/NumberedTitle.astro";
import LargeButton from "../components/LargeButton.astro";
import Tabs from "../components/Tabs.astro";
import DotTabs from "../components/DotTabs.astro";
import NumberTabs from "../components/NumberTabs.astro";
---

<Layout title="Space Tourism Website" bodyClass="home">
  <div class="grid-container" data-type="home">
    <div>
      <h1 class="font-serif fs-500 tracking-3 uppercase text-neutral-300">
        So, you want to travel to
        <span class="heading-1 block">Space</span>
      </h1>
      <p>
        Let’s face it; if you want to go to space, you might as well genuinely
        go to outer space and not hover kind of on the edge of it. Well sit
        back, and relax because we’ll give you a truly out of this world
        experience!
      </p>
    </div>
    <div>
      <LargeButton />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;
</style>
