---
import "../styles/main.scss";
const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/assets/images/favicon-32x32.png"
  />
  <script
    src="https://cdn.jsdelivr.net/gh/rick-liruixin/body-scroll-lock-upgrade@v1.1.0/lib/index.umd.js"
  ></script>
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
