---
const { number, title } = Astro.props;
---

<h1
  class="numbered-title | font-accent fs-500 uppercase tracking-3 flex items-center gap-300 md:justify-self-start"
>
  <span class="font-bold text-neutral-100/25" aria-hidden="true">{number}</span
  >{title}
</h1>
