---
import PrimaryNavigation from "./PrimaryNavigation.astro";
---

<header class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <a href="/index.html">
        <img src="/assets/images/shared/logo.svg" alt="" />
        <p class="sr-only">SPACE TOURISM WEBSITE</p>
      </a>

      <PrimaryNavigation underlineGap="2em" />
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    color: $site-header-color;
    background-color: $site-header-background-color;
    padding: $site-header-padding;

    &__inner {
      display: flex;
      gap: $size-4;
      align-items: $site-header-alignment;
      justify-content: $site-header-jusitifcation-small-screens;

      @include mq(medium) {
        justify-content: $site-header-jusitifcation-large-screens;
      }
    }
  }
</style>
