---

---

<div class="tab-list underline-indicators flex gap-400" role="tablist">
  <button
    class="tab | uppercase font-accent fs-300 text-neutral-300 tracking-1"
    type="button"
    role="tab"
    aria-selected="true">Moon</button
  >
  <button
    class="tab | uppercase font-accent fs-300 text-neutral-300 tracking-1"
    type="button"
    role="tab"
    aria-selected="false">Mars</button
  >
  <button
    class="tab | uppercase font-accent fs-300 text-neutral-300 tracking-1"
    type="button"
    role="tab"
    aria-selected="false">Europa</button
  >
  <button
    class="tab | uppercase font-accent fs-300 text-neutral-300 tracking-1"
    type="button"
    role="tab"
    aria-selected="false">Titan</button
  >
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .tab {
    padding: 1em 0;
  }
</style>
