@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Bellefair-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Barlow-Regular.ttf") format("truetype");
}
